<h3>Application Form</h3>
<form action="/job/{{job['id']}}/apply" method="post">
    <div class="mb-2">
        <label for="full_name">Full Name</label><br>
        <input type="text" name="full_name">
    </div>

    <div class="mb-2">
        <label for="email">Email</label><br>
        <input type="text" name="email">
    </div>

    <div class="mb-2">
        <label for="linkedin_url">Linkedin URL</label> <br>
        <input type="text" name="linkedin_url">
    </div>

    <div class="mb-2">
        <label for="education">Education</label> <br>
        <textarea type="text" name="education"> </textarea>
    </div>

    <div class="mb-2">
        <label for="work_experience">Work Experience</label> <br>
        <textarea type="text" name="work_experience"> </textarea>
    </div>

    <div class="mb-2">
        <label for="resume_url">Resume URL</label> <br>
        <input type="text" name="resume_url">
    </div>

    <input type="submit">
</form>